<nav class="nav">
    <p routerLink="/" class="logo">Logo</p>
    <ul>
        <li class="list-opt" routerLink="/">Home</li>
        <li class="list-opt" routerLink="/market">Markets</li>
        <li class="list-opt" routerLink="/bookings">Bookings</li>
        <div *ngIf="loggedIn; then trueBlock; else elseBlock"></div>
        <ng-template #trueBlock>
            <button mat-raised-button color="accent" routerLink="/login" (click)="signOut()">Sing Out</button>
        </ng-template>
        <ng-template #elseBlock>
            <button mat-raised-button color="primary">Sing Up</button>
        </ng-template>
    </ul>
</nav>