<div class="body-info">
    <div class="body-content">
        <h1 class="heading">Digital Market </h1>
        <h2>You can easily sell your goods in the market of your choice</h2>
        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Saepe inventore nam quos amet dolor, similique modi fugit?
        Mollitia enim fugit, pariatur labore necessitatibus rerum 
        nesciunt nisi, blanditiis, quod porro in.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Mollitia iusto atque minima magnam officiis, deserunt autem 
        nemo laborum cum nam libero eum! Odio dignissimos expedita nihil 
        quae possimus, magni voluptas?</p>
        <button class="sell-button" routerLink="/market">Sell Now</button>
    </div>
    <img src="https://res.cloudinary.com/den2yh2w9/image/upload/v1667309047/depositphotos_5309803-stock-photo-veggie-market_ae083h.webp"
     alt="market"
     class="adjust-market"/>
</div>
