<div class="form-container">
    <form [formGroup]="marketForm" class="market-form" (submit)="addMarket()">
        <h1>Add Market Details</h1>
        <div>
            <label for="name">Market-Name:</label>
            <br>
            <input type="text" id="name" placeholder="Enter Your Market Name" formControlName="marketName">
        </div>
        <div>
            <label for="name">Market-RegNumber:</label>
            <br>
            <input type="text" id="name" placeholder="*Market Reg Number" formControlName="marketNumber">
        </div>
        <div>
            <label for="name">Market-Address:</label>
            <br>
            <input type="text" id="name" placeholder="Enter Your Market Address" formControlName="location">
        </div>
        <div>
            <label for="name">Market-Images:</label>
            <br>
            <input type="url" id="name" placeholder="Please Enter Below Url" formControlName="imageUrl">
            <p>https://picsum.photos/200/300</p>
        </div>
        <div>
            <label for="name">Market-Mobile:</label>
            <br>
            <input type="number" id="name" placeholder="Enter Your Market Number" formControlName="contact">
        </div>
        <div>
            <label for="name">Market-Info:</label>
            <br>
            <textarea type="text" id="name" placeholder="Enter Your Market acheives" formControlName="description"></textarea>
        </div>
        <button mat-raised-button color="primary" type="submit">Submit</button>     
    </form>
</div>
