/* You can add global styles to this file, and also import other style files */
*{
box-sizing: border-box;
margin: 0;
}
ul{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 25%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
