<div class="auth-form">
    <div class="toogles">
        <button 
            mat-raised-button 
            [ngClass]="{'toggleButton': !toggling,'toggleButton2':toggling}" 
            (click)="SingUp()"
        >
            Sign Up
        </button>
        <button mat-raised-button 
            [ngClass]="{'toggleButton': toggling,'toggleButton2':!toggling}" 
            (click)="SingIn()"
        >
             Sign In
        </button>
    </div>
    <ng-container *ngIf="toggling;else elseBlock">
        <form [formGroup]="userDetails" class="form-container" (submit)="checkUserDetails()">
            <h1>Sign In</h1>
            <div class="fields">
                <label>Username</label>
                <input type="text" placeholder="Enter your Username" formControlName="username"/>
            </div>
            <div class="fields">
                <label>Password</label>
                <input type="password" placeholder="Enter your Password" formControlName="password"/>
            </div>
            <button type="submit" mat-raised-button color="warn">Sign In</button>
        <p *ngIf="errorMsg" class="errorValue">*Username & Password didn't match</p>
        </form>
    </ng-container>
    <ng-template #elseBlock>
        <form class="form-container" [formGroup]="userDetails" (submit)="submitData()">
            <h1>Sign Up</h1>     
            <div class="fields">
                <label>Username</label>
                <input type="text" placeholder="Create your Username" formControlName="username"/>
            </div>
            <div class="fields">
                <label>Password</label>
                <input type="password" placeholder="Create your Password" formControlName="password"/>
            </div>
            <div class="fields">
                <label>Role</label>
                <input type="text" placeholder="Enter your Role" formControlName="role"/>
            </div>
            <button type="submit" mat-raised-button color="accent">Sign Up</button>
        </form>
    </ng-template>
</div>
